@import "@chatscope/chat-ui-kit-styles/dist/default/styles.min.css";

.chatbotContainer {
  width: 300px;
  height: 300px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 0 1px rgba(53, 72, 91, .07), 0 2px 2px rgba(0, 0, 0, .01), 0 4px 4px rgba(0, 0, 0, .02), 0 10px 8px rgba(0, 0, 0, .03), 0 15px 15px rgba(0, 0, 0, .03), 0 30px 30px rgba(0, 0, 0, .04), 0 70px 65px rgba(0, 0, 0, .05);
  overflow: scroll;

  .chatbotContent {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .audioButton {
      background: aliceblue;
      padding: 4px;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }

  .characterContainer {
    position: relative;

    .backgroundContainer {
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center;
      overflow: hidden;

      .background {
        width: 100%;
      }
    }

    .characterMessageContainer {
      position: absolute;
      bottom: 0;
      height: 50%;
      width: 100%;
      background: linear-gradient(rgb(0 0 0 / 30%), #000000);
      overflow: scroll;
      color: white;
      font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
      line-height: 20px;

      .characterMessageList {
        padding: 20px;

        .message {}
      }
    }

    .iconContainer {
      position: absolute;
      bottom: 5px;
      right: 8px;
      color: rgb(191, 191, 191);

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }

  .userMessageContainer {
    width: 100%;
    height: 40px;
    overflow: scroll;
    padding: 10px 20px;
    padding-top: 15px;
    box-sizing: border-box;

    .userMessage {
      font: 16px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
      font-weight: 500;
    }
  }


  .messageInput {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;

    .textInput {
      width: 280px;
      box-sizing: border-box;
      border: none;
      padding: 10px;
      border-radius: 16px;
      background: rgb(239, 243, 244);
    }
  }

  .audioContainer {
    display: none;
  }

  .characters {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    .characterCard {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover {
        cursor: pointer;
      }

      .avatar {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
      }

      .name {
        margin-bottom: 10px;
      }
    }
  }
}